/target
/data
**/.lemmate/
*.db
*.db-wal
*.db-shm
/node_modules
/.cargo/
node_modules/
ui/dist/

# Tauri's generated ACL schemas, rewritten by tauri-build on every compile.
/crates/desktop/gen/schemas/
